<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Matrimonio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'react-slick.min' %>
  <%= javascript_include_tag 'kinetic-v5.1.0.min' %>
  <%= javascript_include_tag 'jquery.final-countdown.min' %>
  <%= stylesheet_link_tag    'bakery', media: 'all' %>
  <%= stylesheet_link_tag    'content', media: 'all' %>
  <%= stylesheet_link_tag    'grid12', media: 'all' %>
  <%= stylesheet_link_tag    'menu', media: 'all' %>
  <%= stylesheet_link_tag    'footer', media: 'all' %>
  <%= stylesheet_link_tag    'modal', media: 'all' %>
  <%= stylesheet_link_tag    'countdown', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Spinnaker" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Reenie+Beanie" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Vidaloka" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Damion" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
